autostart
evolution
gtk-4.0
pulse
gnome-control-center
ibus
s-tui
bashtop
gnome-initial-setup-done
mimeapps.list
touchegg
BraveSoftware
gnome-session
nautilus
user-dirs.dirs
Code
goa-1.0
nitrogen
user-dirs.locale
dconf
gtk-2.0
pop-shell
vivaldi
eog
gtk-3.0
pop-system-updater
.gsd-keyboard.settings-ported
gh/config.yml
gh/hosts.yml